{% extends 'home/header.html' %}

{% block content %}

{% load static %}

<div class="container">

  <br />

  <img src="{% static 'home/images/worldeeheader.png'%}"width="800px" height="200px">
  <p class="header">
    Stop Wondering, Start Knowing
  </p>

  <br /><br /><br />
  <br /><br /><br />
  <br /><br /><br />

  <img src="{% static 'home/images/0.png' %}" width="300" height="580" />
  <img src="{% static 'home/images/1.png' %}" width="300" height="580" />
  <img src="{% static 'home/images/2.png' %}" width="300" height="580" />
  <img src="{% static 'home/images/3.png' %}" width="300" height="580" />
  <img src="{% static 'home/images/4.png' %}" width="300" height="580" />
  <img src="{% static 'home/images/5.png' %}" width="300" height="580" />

  <br /><br /><br />
  <br /><br /><br />

</div>

{% endblock %}
