@font-face {
    font-family: BrandonGrotesque;
    src: url('fonts/BrandonGrotesque400normal.woff');
}

/* ------------------------------------------
                  Header
------------------------------------------- */

nav {
    width: 60%;
    margin: 0 auto;
    height: 40px;
    background-color: #ffffff;
}

nav a,
nav li a {
  padding: 0 0.3em 0 0.3em;
  font-size: 16px;
  font-weight: 700;
  font: 'BrandonGrotesque';
  letter-spacing: 2px;
  text-decoration: none;
}

nav ul,
nav ul li {
  list-style-type: none;
  padding: 4px 0 0 0;
  margin: 0;
  display: inline-block;
}

nav a,
nav ul li a {
    color: #173872;
    transition: 0.5s;
}

nav a:hover,
nav ul li a:hover {
  color: #1b90ea;
  text-decoration: none;
}

nav a {
  display: inline;
  text-decoration: none;
}

input::placeholder {
  color: #173872;
  font-size: 18px;
  font: 'BrandonGrotesque' !important;
}

input:focus {
  color: #173872;
  font-size: 16px;
  font-weight: 500;
  font: 'BrandonGrotesque' !important;
}

input {
  font-weight: 500;
  font: 'BrandonGrotesque'
}

.sub-menu-parent {
  position: relative;
}

.sub-menu {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:focus-within .sub-menu,
.sub-menu-parent:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
  width: 105px;
}

.float-right  {
    float: right;
}


.social-instagram {
  width: 25px;
  height: 25px;
  background: url('../images/instagram-default.png') no-repeat;
  background-size: 25px 25px;
  transition: 0.5s;
}

.social-instagram:hover {
  width: 25px;
  height: 25px;
  background: url('../images/instagram-hover.png') no-repeat;
  background-size: 25px 25px;
  transition: 0.5s;
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 25vw;
}

.footer-img {
    width: 50vw;
    height: 40vh;
}

/* ------------------------------------------
                  Index
------------------------------------------- */



/* ------------------------------------------
                  Contact
------------------------------------------- */

.container {
  padding-top: 5%;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  color: #173872;
  font-size: 24px;
}

.header {
  font: 'BrandonGrotesque';
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 5px;
}

.email {
  letter-spacing: 2px;
}

/* ------------------------------------------
                  Travel
------------------------------------------- */

.blog {
  margin-bottom: 20%;
}

.blog-title {
  position: absolute;
  margin: 5% 5% 0 3.5em;
  padding: 5px;
  text-align: left;
  width: 40%;
  float: left;
  font-weight: 700;
  font-size: 38px;
  letter-spacing: 2px;
  background-color: white;
  overflow: hidden;
}

.blog img {
  float: left;
  width: 100%;
  height: 300px;
  margin-bottom: 5%;
}

.blog-content {
  font-size: 18px;
  text-align: left;
  margin-left: 1em;
  margin-right: 14em;
}

.blog-date {
  padding-top: 1%;
  font-size: 14px;
  letter-spacing: 2px;
  text-align: right;
  margin-right: 17em;
}

.more-content {
  position: fixed;
  float: left;
  left: 75%;
  top: 25em;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: left;
  color: #173872;
}

.more-content ul {
  list-style: none;
  font-weight: 400;
  letter-spacing: 0px;
  margin-left: -40px;
}

.more-content ul li a {
  text-decoration: none;
}
