{% extends 'home/header.html'%}

{% block content %}
<div class="container">
  <div class="blog">
    <p class="blog-title">{{ blog.title | upper }}</p>
    <img src="{{ blog.title_image }}"/>
    <p class="blog-content">{{ blog.body | safe }}</p>
    <p class="blog-date">Posted on {{ blog.date | date:"d.m.y"}} by {{ blog.posted_by }}</p>
  </div>
</div>
<div class="more-content">
  <p>Most Recent</p>
  <ul>
    <li><a href="#">Place holder</a></li>
    <li><a href="#">Place holder</a></li>
  </ul>
  <p>Suggested Posts</p>
  <ul>
    <li><a href="#">Place holder</a></li>
    <li><a href="#">Place holder</a></li>
  </ul>
</div>

{% endblock %}
